@import "support-tab.css";

/* provide some color settings for tab v2 */
.eesy-tab2-btn,
.eesy-tab2-contact-menu ul {
    background: #006699;
    color: #ffffff;
}

.eesy_container_v2 .eesy_systray_footer {
    background: #fff;
    border: none;
    height: 50px;
}

.eesy-proactive-content-box {
    position : relative;
    top      : 5px; /*Header height*/
    right    : 5px;
    bottom   : 0px; /*Footer height*/
    left     : 5px;
    padding  : 5px;
}

.eesy_container {
    position: fixed;
	display: none;
	margin:0 auto; /* center, not in IE5 */
	background:white;
	border: #333 1px solid;
    z-index: 100001;
    width: 480px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
}

.eesy_container_content {
	position: relative; /* This protects the inner element from being blurred */
	padding: 100px;
}

.eesy_hint_header {
    background: whiteSmoke;
    border-bottom: #333 1px solid;
    height: 30px;
    width:100%;
}

.eesy_hint_footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:whiteSmoke;
	border-top: #333 1px solid;
	height: 30px;
}

.eesy_hintfixed_dontshowanymore { float: right; margin-right: 11px; cursor: pointer; position: relative; top: 4px; border: black 1px solid ; background:white; padding:2px; }


.eesy_hint_header_text { float: left; margin-left: 11px; position: relative; top: 7px;font-weight: bold; }

.eesy_hint_hide { float: right; margin-right: 11px; cursor: pointer; position: relative; top: 4px; border: black 1px solid ; background:white; padding:2px; }

.eesy_hint_content {
    position : absolute;
    top      : 31px; /*Header height*/
    right    : 5;
    bottom   : 31px; /*Footer height*/
    left     : 5;
    padding:11px;
}

/*
 * Voting in proactive items, mostly copied from support center
 */
 
.eesy_container .voting-enabled.eesy_hint_footer,
.eesy_container .voting-enabled.eesy_systray_footer,
.eesy_container .voting-enabled.eesy_footer,
.eesy_container .voting-enabled.eesy_systray_footer { 
    height: 74px;
}

.voting-enabled.eesy_hint_footer .eesy_hint_buttons, 
.voting-enabled.eesy_systray_footer .eesy_systray_button,
.voting-enabled.eesy_footer .eesy_standard_button,
.voting-enabled.eesy_systray_footer .eesy_hintfixed_buttons {
    top: initial;
    margin: 11px;
}

.eesy_container .quick-survey {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    padding: 4px 11px;
    font-size: 12px;
}

.eesy_container .quick-survey-section {
    background-color: #F3F3F3;
}

.eesy_container .quick-survey__question {
    font-style: italic;
    margin-right: auto;
}

.eesy_container .quick-survey__answer {
    height: 20px;
    display: flex;
    background-color: #fff;
    border-radius: 5.46875px;
    padding: 0px 7px;
    align-items: center;
    margin-left: 11px;
    color: #9B9B9B;
    font-size: 11px;
    cursor: pointer;
    transition: color .2s;
}

.eesy_container .quick-survey__answer:hover { color: #000; }
.eesy_container .quick-survey__answer.___positive.isSelected { color: #40d723; }
.eesy_container .quick-survey__answer.___negative.isSelected { color: #FF0000; }
.eesy_container .quick-survey__answer.___positive:before { content: "\E013"; }
.eesy_container .quick-survey__answer.___negative:before { content: "\E012"; }

.eesy_container .quick-survey__answer:before {
    display: inline-block;
    vertical-align: middle;
    font-family: "icons-webfont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    font-size: 10.9375px;
    line-height: 1;
    margin-right: 5px;
}
/* End of voting */

.eesy_systray_header {
    background: whiteSmoke;
    border-bottom: #333 1px solid;
    height: 30px;
    width:100%;
}

.eesy_systray_header_text { float: left; margin-left: 11px; position: relative; top: 7px; }
.eesy_systray_close { float: right; margin-right: 11px; cursor: pointer; position: relative; top: 5px; }
.eesy_systray_content {
    position : absolute;
    top      : 31px; /*Header height*/
    right    : 5px;
    bottom   : 31px; /*Footer height*/
    left     : 5px;
    padding  : 5px;
}

.eesy_systray_footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:whiteSmoke;
	border-top: #333 1px solid;
	height: 30px;
}

.eesy_systray_hide { float: right; margin-right: 11px; cursor: pointer; position: relative; top: 4px; border: black 1px solid ; background:white; padding:2px; }

.eesy_header {
	background: whiteSmoke;
    border-bottom: #333 1px solid;
    height: 40px;
    width:100%;
}

.eesy_header_text { float: left; margin-left: 11px; position: relative; top: 10px; }
.eesy_close { float: right; margin-right: 11px; cursor: pointer; position: relative; top: 10px; }

.eesy_content_outer {
    position : absolute;
    width:100%;
    top      : 40px; /*Header height*/
    right    : 0;
    bottom   : 39px; /*Footer height*/
    left     : 0;
}

.eesy_content {
	width:100%;
    position : absolute;
    top      : 45px; /*Header height*/
    right    : 5;
    bottom   : 24px; /*Footer height*/
    left     : 5;
}

.eesy_footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:whiteSmoke;
	border-top: #333 1px solid;
	height: 23px;
}

.eesy_standard_hide { float: right; margin-right: 11px; cursor: pointer; position: relative; top: 1px; border: black 1px solid ; background:white; padding:2px; }

#eesy-standardcontainer {
    left: 50%;
    top: 50%;
}

#eesy-standardcontainer .eesy_footer,
#eesy-standardcontainer .eesy_content {
    position: static;
}

#eesy-standardcontainer .eesy_content {
    /* min-height hack for IE */
    min-height: 346px;
    height: auto !important;
    height: 346px;
}

.eesy_linker_container {
	display: none;
	margin:0 auto; /* center, not in IE5 */
    z-index: 99999;
    height: 100px;
    width: 27px;
	border-radius: 0px;
	background-color: whiteSmoke;
	border: 0px solid #333;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	-khtml-border-radius: 0px;
}

/*
#tab-outer {
    border:1px solid red;
    display:block;
    position: fixed;
    right: 0px;
    top: 50%;
    margin-top: -50px;
}*/

#eesy-tab-inner-old {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 100% 100%; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 100% 100%; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    background: #006699;
    color: #ffffff;
    padding: 2px 20px 2px;
    font-size: 20px;
    font-family: "Arial";
    border-radius: 5px 5px 0px 0px;
    border-style: none;
    border-color: #000000;
    border-width: 1px;
    border-bottom-width: 0px;
}

@media print {
    #eesy-tab-inner {
      visibility: hidden;
    }
}

#eesy-tab-inner {
    cursor: pointer;
    /*display: inline-block;*/
    /*right: 0px;*/

    /* test: */
    display: none;
    /*margin-top: -60px;*/
    position: fixed;
    z-index: 100001;             
}

.eesy-tab-inner-right,
.eesy-tab-inner-left {
    top: 50%;
}

.eesy-tab-inner-bottom,
.eesy-tab-inner-top {
    left: 80%;
}

.eesy-feedback-tab {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.eesy-feedback-tab-bak {
	display: block;
	_display: none;
	position: fixed;
	top: 45%;
	width: 220px;
	right: -97px;
	text-align: center;
	z-index: 10;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.eesy-feedback-tab a {
	text-align: center;
	padding: 5px 10px;
	margin-bottom: -4px;
	font-size: 14px;
	color: #666;
	text-shadow: 1px 0px white;
	border-radius: 2px;
	background-color: whiteSmoke;
	border: 1px solid #333;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
}

#eesy-dark-screen {
 	background: black;
  	display: none;
  	opacity: .3;
 	 z-index: 100000;
 	 position: fixed;
 	 height: 100%;
 	 width: 100%;
 	 top: 0;
}

/* ----------------------------------------------------------------------------------- */

.eesyarrow, .eesyarrow:after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.eesyarrow {
    line-height: 0;
    top: 0;
    left: 0;
    border-width: 10px;
}

.eesyarrow:after {
    content:'';
    border-width: 9px;
}

.___TabIsFocused {
	box-shadow: 0 0 0 2pt #000000;
}

.eesyarrow.left:after, .eesyarrow.right:after { top: -9px; }
.eesyarrow.up:after, .eesyarrow.down:after { left: -9px; }

.eesyarrow.left, .eesyarrow.left:after { border-right-width: 0; }
.eesyarrow.left { border-left-color: #333; }
.eesyarrow.left:after { right: 1px; border-left-color: white; }

.eesyarrow.right, .eesyarrow.right:after { border-left-width: 0; }
.eesyarrow.right { border-right-color: #333; }
.eesyarrow.right:after { right: -10px; border-right-color: white; }

.eesyarrow.up, .eesyarrow.up:after { border-top-width: 0; }
.eesyarrow.up { top: 10px; border-bottom-color: #333; }
.eesyarrow.up:after { top: 2px; border-bottom-color: whitesmoke; }

.eesyarrow.down, .eesyarrow.down:after { border-bottom-width: 0; }
.eesyarrow.down { border-top-color: #333; }
.eesyarrow.down:after { top: -10px; border-top-color: whitesmoke; }

/* ----------------------------------------------------------------------------------- */

.eesy-highlighted {
	outline: 4px dashed #ff9300;
}

#eesy-debug {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: white;
	border: 2px solid black;
	color: black;
	z-index: 2147483647; /* max */
}

#eesy-debug #header {
	background-color: gray;
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: center;
}

#eesy-debug #content table {
    border-collapse: collapse;
}

#eesy-debug #content table, #eesy-debug #content th, #eesy-debug #content td {
    border: 1px solid black;
}

#eesy-debug #content th {
	background-color: lightgray;
}

/*
 * Proactive styles version 2.
 */

/*common attributes*/
.eesy_container_v2.eesy_container {
    border:none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(115,115,115,0.66);
    -moz-box-shadow: 0px 0px 5px 1px rgba(115,115,115,0.66);
    box-shadow: 0px 0px 5px 1px rgba(115,115,115,0.66);
}

/*Systray styling*/

.eesy_container_v2#systraycontainer {
    max-width: 90%;
}

.eesy_container_v2 .eesy_systray_header {
    background: #fff;
    color: #00748b;
    border:none;
    font: normal 700 20px/1 "Arial", Arial, sans-serif;
    height: 50px;
}

.eesy_container_v2 .eesy_systray_header_text{
    margin-top:2px;
}

.eesy_container_v2 .eesy_systray_content {
    background: #fff;
    color: #000;
    border:none;
    top: 50px;
}

.eesy_container_v2 .eesy_systray_button {
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-bottom:11px;
}

.eesy_container_v2 .eesy_systray_hide {  
    float: left;
    margin-left: 11px;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    color:#00748b;
    border: #00748b 2px solid;
    padding: 4px 4px;
    background: white;
}

.eesy_container_v2 .eesy_systray_hide:hover .eesy_systray_hide_text {
    color: white;
}

.eesy_container_v2 .eesy_systray_hide:hover {
    background: #00748b;
}

.eesy_container_v2 .eesy_systray_close {  
    float: right;
    margin-right: 11px;
    background: #00748b;
    color: #fff;
    display: inline-block;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    text-align: center;
    padding: 6px 6px;
    text-shadow: none;
}

.eesy_container_v2 .eesy_systray_close:hover .eesy_systray_close_text {
    color: #00748b;
}

.eesy_container_v2 .eesy_systray_close:hover {
    background: white;
    border: #00748b 2px solid;
    padding: 4px 4px;
}

/*Popup styling*/
.eesy_container_v2 .eesy_header {
    color: #00748b;
    border:none;
    font: normal 700 24px/1 "Arial", Arial, sans-serif;
    height:60px;
}

.eesy_container_v2 .eesy_header_text {
    margin-left: 20px;
    margin-top: 4px;
}

.eesy_container_v2 .eesy_content {
    background: #fff;
    color: #000;
    border:none;
    top:60px;
}

.eesy_container_v2 .embed-Message {
    left: 15px;
    padding: 5px;
}

.eesy_container_v2 .eesy_footer {
    background: #fff;
    border: none;
    height: 50px;
}

.eesy_container_v2 .eesy_standard_button {
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-bottom:11px;
}

.eesy_container_v2 .eesy_standard_hide {  
    float: left;
    margin-left: 20px;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    color:#00748b;
    border: #00748b 2px solid;
    padding: 4px 4px;
    background: white;
}

.eesy_container_v2 .eesy_standard_hide:hover .eesy_hide_text {
    color: white;
}

.eesy_container_v2 .eesy_standard_hide:hover {
    background:#00748b;
}

.eesy_container_v2 .eesy_close {  
    float: right;
    margin-right: 20px;
    background: #00748b;
    color: #fff;
    display: inline-block;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    text-align: center;
    padding: 6px 6px;
    text-shadow: none;
}

.eesy_container_v2 .eesy_close:hover .eesy_close_text {
    color: #00748b;
}

.eesy_container_v2 .eesy_close:hover {
    background: white;
    border: #00748b 2px solid;
    padding: 4px 4px;
}

/*Hint hover style*/
.eesy_container_v2 .eesy_hint_header {
    background: #fff;
    color: #00748b;
    border:none;
    font: normal 700 20px/1 "Arial", Arial, sans-serif;
    height:50px;
}

.eesy_container_v2 .eesy_hint_header_text{
    margin-top:2px;
}

.eesy_container_v2 .eesy_hint_content {
    background: #fff;
    color: #000;
    border:none;
    top:50px;
}

.eesy_container_v2 .eesy_hint_footer {
    background: #fff;
    border: none;
    height: 50px;
}

.eesy_container_v2 .eesy_hint_buttons {
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-bottom:11px;
}

.eesy_container_v2 .eesy_hint_hide {  
    float: left;
    margin-left: 11px;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    color:#00748b;
    border: #00748b 2px solid;
    padding: 4px 4px;
    background: white;
}

.eesy_container_v2 .eesy_hint_hide:hover .eesy_hint_hide_text {
    color: white;
}

.eesy_container_v2 .eesy_hint_hide:hover {
    background:#00748b;
}

.eesy_container_v2 .eesy_hint_close {  
    float: right;
    margin-right: 11px;
    background: #00748b;
    color: #fff;
    display: inline-block;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    text-align: center;
    padding: 6px 6px;
    text-shadow: none;
}

.eesy_container_v2 .eesy_hint_close:hover .eesy_hint_close_text {
    color: #00748b;
}

.eesy_container_v2 .eesy_hint_close:hover {
    background: white;
    border: #00748b 2px solid;
    padding: 4px 4px;
}

/* Style hint fixed*/
.eesy_container_v2 .eesy_hintfixed_dontshowanymore {  
    float: left;
    margin-left: 11px;
    font: normal 700 12px/1 "Arial", Arial, sans-serif;
    color:#00748b;
    border: #00748b 2px solid;
    padding: 4px 4px;
    background: white;
}

/* header text style inherited from systray*/
.eesy_container_v2 .eesy_hintfixed_dontshowanymore:hover .eesy_hintfixed_hide_text {
    color: white;
}

.eesy_container_v2 .eesy_hintfixed_dontshowanymore:hover {
    background:#00748b;
    color:white;
}

.eesy_container_v2 .eesy_hintfixed_close:hover .eesy_hintfixed_close_text {
    color: #00748b;
}

.eesy_container_v2 .eesy_hintfixed_close:hover {
    background: white;
    border: #00748b 2px solid;
    padding: 4px 4px;
}